#last-page-image{
  background-image: linear-gradient(-225deg, rgba(165, 168, 0, 0.13) 0%, rgba(0, 0, 0, 0.445) 50%), url("./image/25.jpg");
}
#last-page{height:100vh}
.content-last-page{
  width: 60%;
}
.content-last-page h3 {
  color:white;
  padding:40px 20px 20px 20px;
  
}

.content-last-page p {
  color:rgba(255, 255, 255, 0.705);
  
}

.white-top{
  height:25%;
}
footer{
  height:75%;
  
  background:black;
  
}

.info{
  display:flex;
  flex-wrap: wrap;
}
.left-info-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%
}
.links-of-mine-container{
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  margin:0 0 0 0;
}
#link{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  background: yellow;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.symble2{
  color:black;
  font-size:30px; 
}

.phone{
  
  font-family: sans-serif;
  padding: 5px 5px 2px 5px;

}
.email{
  font-family: sans-serif;
  padding: 2px 5px 5px 5px;
}
.symble1{
  color: yellow;
  font-size:20px;
  padding:10px 10px 10px 20px ; 
}


.massage-area{
  width:50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form{width: 100%;}
form{
  /* padding:0 0 0 70px;  */
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=text], input[type=email] {
  width: 60%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 60%;
  background-color: yellow;
  color: black;
  padding: 14px 20px;
  margin: 8px 0 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display:inline-block
}

input[type=submit]:hover {
  background-color: #45a049;
}


.container3{
  width:100%;
  display:flex;
  justify-content: flex-end
}
.yellow-box{
  width: 50px;
  height: 70px;
  /* float: right; */
  font-size: 24px;
  line-height: 70px;
  background: yellow;
 text-align: center;
 margin-right: 10px;
}
.symble3{
  display:inline-block;
  transform: translate(0,0);
  color:black;
  font-size: inherit;
}
