#page3-image{
  background-image: linear-gradient(-225deg, rgba(165, 168, 0, 0.13) 0%, rgba(0, 0, 0, 0.445) 50%), url("./image/18.JPG");
}
#page3{height:100vh}

#content-page3{
  padding:50px 0 50px 0;
}
.right-container h3{
  float:left;
  background: yellow;
  padding: 14px 30px;
  color: #000;
  position:relative;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}
.right-container h3:before{
  content: '';
  position: absolute;
  bottom: -10px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 0;
  border-color: transparent yellow transparent transparent;
}
.right-container h2{
  float: left;
  width: 100%;
  position: relative;
  font-size: 53px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #191919;
  text-transform: uppercase;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
.separator{
  float: left;
  width: 180px;
  height: 2px;
  position: relative;
  margin-top: 10px;
  background: yellow;
}


.subtitle{
  float: left;
  width: 100%;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  color: #666;
  padding-bottom: 10px;
  margin:40px 0 20px 0;
}
.back-ground{
  
  float:left;
  position:relative;
  display:flex;
  flex-wrap:wrap;
  width:100%;
  justify-content: flex-start;
  height: 50%;

}
.education{
  padding:8px;
 
}
.experience{align-self: center;
  padding:8px;
}
.skills{align-self: flex-end;
  padding:8px;
}

#page3 ul{
  list-style-type: disc;
  font-size: 20px;
  line-height: 35px;
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  list-style-position: inside;
}
#page3 li {
  padding:8px 0px 5px 10px;
  font-size: 18px;
  line-height: 30px;
  padding-bottom: 8px;
  font-family: 'Lato', sans-serif;
}

ul.skl {
  list-style: none;
}

li.ruby {
  background: url("./image/ruby.png") no-repeat 0 50%;
  background-size: 20px;
}
li.html {
  background: url("./image/html.png") no-repeat 0 50%;
  background-size: 30px;
}
li.css {
  background: url("./image/css.png") no-repeat 0 50%;
  background-size: 30px;
}

