@import "header-hamburger.css";
@import "nav-bar.css";
@import "home-page.css";
@import "page2.css";
@import "page3.css";
@import "page4.css";
@import "last-page.css";

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.page {
  display: flex;
}
.image-container {
  width: 40%;
  /* height:inherit; */
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.borderline-container {
  height: 380px;
  width: 330px;
  border-left: 11px solid rgba(255, 255, 255, 0.51);
  border-bottom: 11px solid rgba(255, 255, 255, 0.51);
  margin: 0 40px 80px 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 0 0 0 20px;
}
.left-panel-text {
  margin: 30px;
  border-bottom: 5px solid yellow;
}
h1 {
  font-weight: 700;
  font-size: 4rem;
  color: white;
  padding: 20px 20px 20px 0;
}
.right-container {
  width: 60%;
  float: left;
  position: relative;
  padding: 100px 0 100px 0;
  border-bottom: 1px solid gray;
  z-index: -1;
}
.content {
  float: left;
  margin: 0 50px;
  height: 100%;
  z-index: 2;
}
@media screen and (max-width: 1050px) {
  .white-top {
    height: 10%;
  }
  footer {
    height: 90%;
  }
}

@media screen and (max-width: 800px) {
  div.nav-bar {
    display: none;
  }
  header {
    width: 100%;
  }
  .content-last-page {
    width: 100%;
  }
  footer {
    width: 100%;
    height: fit-content;
  }
  .white-top {
    display: none;
  }
  .content-last-page h3 {
    padding: 25px 0 5px 20px;
    text-align: center;
  }
  .massage-area {
    width: 100%;
  }
  .left-panel-text h1 {
    font-size: 3rem;
  }
  .info {
    padding-top: 30%;
  }
  .t-project,
  .z-depth-1-half {
    width: 100%;
  }
  .back-ground {
    padding-top: 5%;
  }
  #page3 {
    height: fit-content;
  }
  .hamberger-icon {
    display: inline-block;
  }
  .left-info-container {
    width: 100%;
  }
  #last-page {
    height: fit-content;
  }
}

@media screen and (max-width: 592px) {
  h1.greeting-text {
    font-weight: 500;
    font-size: 3rem;
  }

  .image-container {
    display: none;
  }
  .right-container {
    width: 100%;
  }

  .find-me {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .links-of-mine-container {
    justify-content: flex-start;
    padding: 0 0 0 10px;
  }
  .info {
    padding-top: 0;
  }
  .left-info-container {
    width: 100%;
  }
  .massage-area {
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
  .container {
    margin: 0;
  }
  .content-last-page h3 {
    padding: 20px 0 5px 20px;
  }
  .symble1 {
    padding: 5px 10px 5px 20px;
  }
  .info {
    padding-top: 0;
  }
}
